@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');

.container {
     margin-top: 94px;
}

.imagine-content {
     font-family: 'Helvetica';
     font-style: normal;
     font-weight: 700;
     font-size: 44px;
     line-height: 36px;
     width: 283px;
     margin: auto;
     color: #240D57;
}

.container h1 span {
     font-family: 'Helvetica';
     font-style: normal;
     font-weight: 700;
     /* font-size: 36px; */
     line-height: 41px;
     text-align: center;
     background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
     text-fill-color: transparent;
}

.container p {
     width: 321px;
     font-style: normal;
     font-weight: 300;
     font-size: 18px;
     line-height: 18px;
     color: #4F4F4F;
     margin: auto;
     margin-top: 16px;
}

.image {
     width: 225px;
     margin-top: 36px;
     margin-bottom: 34px;
}

button {
     background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
     border-radius: 10px;
     /* display: flex; */
     /* flex-direction: row;
     justify-content: center;
     align-items: center; */
     padding: 16px;
     gap: 10px;
     font-weight: 700;
     font-size: 16px;
     line-height: 18px;
     text-align: right;
     color: #FFFFFF;
     border: none;
}

.url-bar {
     display: flex;
     justify-content: space-between;
     background: rgba(0, 0, 0, 0.08);
     border-radius: 12px;
     width: 384px;
     margin: auto;
     padding: 0px 13px 0px 13px;
     align-items: center;
     margin-top: 22px;
     margin-bottom: 10px;
}

.url-bar h1 {
     font-size: 23px;
}

.url-bar span {
     font-size: 16px;
}

.url-bar p span {
     margin-right: 4px;
     font-size: 18px;
}

.url-bar p {
     font-family: 'SF Pro Text';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 19px;
     /* identical to box height */

     display: flex;
     align-items: center;
     letter-spacing: -0.028em;
}

.reload {
     font-size: 22px;
     /* margin-right: 50px; */
     width: 14.76px;
     height: 17.98px;
     align-items: center;
     display: flex;
     justify-content: center;
     /* margin-top: 18px; */
}